.card-list {
    display: flex;
    background-color: burlywood;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;
}

.card-list .pokemon-image {
    width: 30%;
}

.card-list .list-group-item {
    background-color: darkgoldenrod;
    padding: 1rem;
}

.card-list .list-group-item .term{
    margin-right: .5rem;
}

.card-list .list-group-item:hover {
    background-color: #c78f22;
}