.pakemon-details {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;
}

.pakemon-details .pakemon-image {
    border-radius: 10px;
}

.pakemon-details .list-group-item {
    padding: .25rem;
}

.pakemon-details .list-group-item .term{
    margin-right: .5rem;
}